<% if(theme.themeColor){%>
<div class="nav-wrapper" style="background-color:<%= theme.themeColor%>">
<% }else {%>
<div class="nav-wrapper">
<% }%>
    <div class="container">
        <nav>
            <div class="logo wave">
                <a href="<%- url_for() %>" id="logo">
                    <%= config.title %>
                </a>
            </div>
            <div class="nav-toggle-icon" >
                <div class="material-hamburger">
                    <span>
                    </span>
                    <span>
                    </span>
                    <span>
                    </span>
                </div>
            </div>
            <div class="menu-wrapper">
                <div class="nav-indicator">
                </div>
                <ul class="menus">
                    <%if(is_home()&&theme.active_nav){%>
                     <% for (var i in theme.menu){ %>
                        <li class="<%if(i=='home'){%>active<%}%>">
                            <a class="<%if(i=='rss'){%>no-smoothstate<%}%>" href="<%- url_for(theme.menu[i]) %>">
                                <%-  __(i) %>
                            </a>
                        </li>
                     <% } %>
                    <%}else if(is_category()&&theme.active_nav){%>
                     <% for (var i in theme.menu){ %>
                        <li class="<%if(i=='categories'){%>active<%}%>">
                            <a class="wave <%if(i=='rss'){%>no-smoothstate<%}%>" href="<%- url_for(theme.menu[i]) %>">
                                <%-  __(i) %>
                            </a>
                        </li>
                     <% } %>
                    <%}else if(is_archive()&&theme.active_nav){%>
                     <% for (var i in theme.menu){ %>
                        <li class="<%if(i=='archives'){%>active<%}%>">
                            <a class="wave <%if(i=='rss'){%>no-smoothstate<%}%>" href="<%- url_for(theme.menu[i]) %>">
                                <%-  __(i) %>
                            </a>
                        </li>
                     <% } %>
                    <%}else if(page.layout=='about'&&theme.active_nav){%>
                     <% for (var i in theme.menu){ %>
                        <li class="<%if(i=='about'){%>active<%}%>">
                            <a class="wave <%if(i=='rss'){%>no-smoothstate<%}%>" href="<%- url_for(theme.menu[i]) %>">
                                <%-  __(i) %>
                            </a>
                        </li>
                     <% } %>
                    <%}else{%>
                     <% for (var i in theme.menu){ %>
                        <li>
                            <a class="wave <%if(i=='rss'){%>no-smoothstate<%}%>" href="<%- url_for(theme.menu[i]) %>">
                                <%-  __(i) %>
                            </a>
                        </li>
                     <% } %>
                    <%}%>
                   
                </ul>
            </div>
        </nav>
    </div>
</div>